.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
  code {
    white-space: pre-wrap;
  }

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  /* Works - pass "my-custom-class" in cssClass to increase specificity */
.my-custom-class .action-sheet-group {
    background: #e5e5e5;
  }